body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mainpost {
    height: 620px;
    width: 40%;
    background-color: white;
    margin: auto;
}
#first-header-icon {
    padding-left: 10px;
    padding-top: 15px;
}
#second-header-icon {
    padding-left: 2px;
    padding-top: 15px;
}
#third-header-icon {
    padding-left: 420px;
}

#body-icon-four {
margin-left: 410px;
}


img {
    object-fit: cover;
    width: 570px;
    height: 400px; 
    padding-top: 15px;
}
p {
    padding-left: 10px;
}
#body-icon {
    padding-left: 10px;
    padding-top: 20px;
}
#body-icon-two {
    padding-top: 20px;
}
#body-icon-three {
    padding-top: 20px;
}
#HTML5 {
    margin-bottom: 15px;
}

